# Bỏ qua thư mục ssl chứa chứng chỉ SSL
ssl/

# Bỏ qua thư mục uploads chứa ảnh upload
uploads/

# Dependencies
node_modules/

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
